<div class = "dayContents">
    <img src = "fulls/thumbs/01.jpg">
    <h5>
        We, the generous and rich in spirit, who stand at the sides of the streets like open fountains and would hinder no one from drinking from us, we do not know, alas! how to defend ourseles when we should like to do so; we have no means of preventing ourselves being made turbid and dark – we have no means of preventing the age in which we live casting its “up-to-date rubbish” into us, nor of hindering filthy birds throwing their excrement, the boys their trash, and fatigued resting travelers their misery, great and small, into us. But we do as we have always done; we take whatever is cast into us down into our depths – for we are deep, we do not forget – and once more grow clear.
    </h5>
</div>